.home {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.screen {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.mainHead {
  position: relative;
  --font-size: 80px;
}

.headingText {
  position: relative;
  overflow: hidden;
}

.headMove {
  background: #000;
  z-index: 2;
  position: absolute;
  transform: matrix(1, 0, 0.36397, 1, -128, -226);
  transform: translate(60%, 0%) skew(20deg);
  height: 80vh;
  width: 14vw;
}

.headingTextFront {
  position: absolute;
  z-index: 3;
}

.headingTextFront h1 {
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 900;
  font-size: var(--font-size);
  text-align: left;
  letter-spacing: 1px;
}

.headingTextBack {
  position: relative;
  z-index: 1;
}

.headingTextBack h1 {
  text-transform: uppercase;
  -webkit-text-stroke: 0 #fff;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: var(--font-size);
}

.connect {
  padding: 20px 0;
  border-top: 2px solid white;
}

.connectItem {
  font-size: 40px;
  font-weight: bold;
}
